---
import Layout from '../layouts/Layout.astro';
import SectionStructure from '../components/SectionStructure.astro';
import HeroStructure from '../components/HeroStructure.astro';
import CardComponent from '../components/header/CardComponent.astro';
import FaqCard from '../components/header/FaqCard.astro';
import HowCard from '../components/HowCard.astro';
---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col gap-8 md:gap-10 lg:gap-12">
    <!-- ! Home section -->
    <HeroStructure idSection="home" wrapperClasses="text-white font-Inter justify-center items-center lg:gap-20 xl:gap-32 py-32">
      <div class="relative top-20 bg-green-500">
        <nav id="side-menu" class="fixed top-0 left-0 w-64 h-full bg-gray-800 mt-16 text-white transform -translate-x-full transition-transform duration-300 ease-in-out">
          <button id="menu-toggle" class="bg-red p-3 rounded-lg fixed -right-12 z-50">
            <svg class="w-6 h-6 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
          </button>
          <ul class="flex flex-col space-y-2 p-4">
            <li><a href="#" class="block py-2 px-4 hover:bg-gray-700">Home</a></li>
            <li><a href="#" class="block py-2 px-4 hover:bg-gray-700">About Us</a></li>
            <li><a href="#" class="block py-2 px-4 hover:bg-gray-700">F.A.Q.</a></li>
            <li><a href="#" class="block py-2 px-4 hover:bg-gray-700">Tournaments</a></li>
          </ul>
        </nav>
      </div>

      <article class="lg:w-7/12">
        <h1 class="text-[38px]/[38px] md:text-[48px]/[40px] lg:text-[68px]/[68px] xl:text-[88px]/[94px] font-bold">Lorem ipsum dolor si adipisicing elit.</h1>
      </article>

      <article class="w-full flex justify-center bg-red-500">
        <button
          class="uppercase bg-gradient-to-b from-[#F30C36] to-[#8D071F] rounded-full py-3 px-8 border-[1px] border-[#FFFFFF] text-[16px]/[19px] md:text-[26px]/[28px] lg:text-[38px]/[38px] font-bold hover:scale-95 transition-all duration-200 lg:py-4 lg:px-14"
        >
          CALL TO ACTION
        </button>
      </article>
    </HeroStructure>

    <!-- ! FAQ -->
    <SectionStructure idSection="test" wrapperClasses=" font-Inter text-white py-5 md:py-10 overflow-x-hidden">
      <h2 class="font-bold font-Inter text-[32px]/[38px] md:text-[48px] text-center border min-w-[150px] border-red w-max py-3 px-4 rounded-full self-center">F.A.Q</h2>
      <!--!FAQ CARDS -->
      <article class="w-full px-3 sm:px-6 md:px-8">
        <!-- Swiper -->
        <div id="faq-swiper" class="swiper w-full">
          <div class="swiper-wrapper relative w-max">
            <FaqCard />
            <FaqCard />
            <FaqCard />
            <FaqCard />
          </div>
          <div class="swiper-pagination relative mt-10"></div>
        </div>
      </article>

      <article class="flex flex-col md:flex-row md:gap-5"></article>
    </SectionStructure>

    <!-- ! TOURNAMENTS -->
    <SectionStructure idSection="test" wrapperClasses=" font-Inter text-white  py-5 md:py-10 overflow-x-hidden">
      <h2 class="font-bold font-Inter text-[32px]/[38px] md:text-[48px] text-center border border-red w-max py-3 px-4 rounded-full self-center">Tournaments</h2>
      <!--!CARDS -->
      <article class="w-full px-3 sm:px-6 md:px-8">
        <!-- Swiper -->
        <div id="casino-swiper" class="swiper w-full">
          <div class="swiper-wrapper w-max">
            <CardComponent />
            <CardComponent />
            <CardComponent
              imageSrc="/public/assets/tournaments/2.jpeg"
              altText="High Hand Image"
              title="High Hand"
              dateRange="Jul 1, 2024 - Dec 31, 2024"
              eventDetails="Tuesday, Wednesday, Thursday, and Saturday"
              description="Join the High Hand Poker Tournament with a $13,000 guaranteed prize pool! Play on Tuesdays and Wednesdays from 4-6 PM and 10 PM-12 AM, or on Thursdays and Saturdays from 12 PM-12 AM. The buy-in is $120, with $100 going to the prize pool. Start with 10,000 chips and aim for the win!"
              buttonText="Sign Up Now"
              buttonLink="/signup"
            />

            <CardComponent />
          </div>
        </div>
      </article>

      <article class="flex flex-col md:flex-row md:gap-5"></article>
    </SectionStructure>

    <!-- ! REGISTER -->
    <SectionStructure idSection="test" wrapperClasses=" font-Inter text-white py-5 md:py-10 overflow-x-hidden">
      <h2 class="font-Inter text-[32px]/[38px] md:text-[40px]/[48px] text-center border md:w-[70%] border-red py-3 px-4 rounded-2xl self-center">
        You’re Interested? <span class="font-bold">Register and prove yourself!</span>
      </h2>

      <h3 class="font-Inter font-bold underline text-[32px]/[37px] md:text-[48px] text-center">How it works?</h3>
      <!--!HOW IT WORKS CARDS -->
      <article class="w-full px-3 sm:px-6 md:px-8">
        <article class="lg:flex lg:justify-center gap-5 flex-row flex-wrap hidden">
          <HowCard extraClasses="lg:w-[30%]" />
          <HowCard extraClasses="lg:w-[30%]" />
          <HowCard extraClasses="lg:w-[30%]" />
          <HowCard extraClasses="lg:w-[30%]" />
          <HowCard extraClasses="lg:w-[30%]" />
        </article>
        <!-- Swiper -->
        <div id="how-swiper" class="swiper w-full lg:hidden">
          <div class="swiper-wrapper relative w-max">
            <HowCard />
            <HowCard />
            <HowCard />
            <HowCard />
          </div>
          <div class="swiper-pagination relative mt-10"></div>
        </div>
      </article>
    </SectionStructure>
  </main>
</Layout>

<!-- ! Modals -->
<!-- ? Age Verification Modal -->
<section id="age-verification-modal" class="bg-[#00000000] flex items-center justify-center min-h-screen absolute z-50 hidden">
  <div class="fixed inset-0 w-full bg-[#000000BB] flex items-center justify-center max-h-screen">
    <div class="background-image background-age-verification shadow-lg w-11/12 sm:w-8/12 lg:max-w-[600px] h-auto max-h-54 rounded-md">
      <article class="flex flex-col items-center justify-center py-16 px-10 gap-10 text-white">
        <h3 class="text-[26px]/[22px] md:text-[36px]/[38px] lg:text-[44px]/[44px] font-extrabold">Age verification</h3>
        <p class="text-[18px]/[20px] md:text-[22px]/[22px] lg:text-[24px]/[27px] text-center">Please confirm your age before accessing this content. Are you over 18 years old?</p>

        <div class="flex gap-10">
          <button class="bg-[#147351] py-4 px-10" onclick="acceptCookies()">Yes</button>

          <button class="bg-[#CA1D1D] py-4 px-10" onclick="rejectCookies()">No</button>
        </div>
      </article>
    </div>
  </div>
</section>

<style>
  textarea {
    resize: none !important;
  }

  section {
    scroll-margin-top: 80px;
  }

  .swiper-pagination-bullet {
    border: 2px solid orange; /* Cambia el color y el tamaño del borde aquí */
  }

  .swiper-pagination {
    --swiper-pagination-color: #f30c36;
    --swiper-pagination-position: block;
    --swiper-pagination-left: auto;
    --swiper-pagination-right: 8px;
    --swiper-pagination-bottom: 8px;
    --swiper-pagination-top: auto;
    --swiper-pagination-fraction-color: inherit;
    --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
    --swiper-pagination-progressbar-size: 4px;
    --swiper-pagination-bullet-size: 38px;
    --swiper-pagination-bullet-width: 38px;
    --swiper-pagination-bullet-height: 38px;
    --swiper-pagination-bullet-inactive-color: #dddddd;
    --swiper-pagination-bullet-inactive-opacity: 0.2;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 4px;
    --swiper-pagination-bullet-vertical-gap: 6px;
  }
</style>
