---
interface Props {
  isLanding: boolean;
}

const { isLanding } = Astro.props;
---

<header class="hidden bg-white text-black justify-center items-center md:flex fixed z-50 w-full bg-main shadow-md border-b-[1px] border-[#ffffff44]">
  <nav class="flex w-full justify-between items-center rounded-xl md:px-8 h-[80px] md:w-[768px] lg:w-[1024px] xl:w-[1280px] 2xl:w-[1400px]">
    <div class="flex items-center grow basis-0 gap-10">
      <div class="font-normal text-lg flex items-center gap-4">
        <a href="#home-section"><img class="object-contain w-10" src="./assets/icons/icon.png" alt="Logo" title="Slots Volindo" /></a>
        <!-- <span class="text-xl"></span> -->
      </div>
    </div>

    <ul class="font-medium flex gap-8 xl:gap-12">
      <li class="hover:text-yellow transition-all duration-200"><a href={isLanding ? '#home' : 'index.html'}>Home</a></li>
      <li class="hover:text-yellow transition-all duration-200"><a href={isLanding ? '#faq' : 'faqs.html'}>F.A.Q.</a></li>
      <li class="hover:text-yellow transition-all duration-200"><a href={isLanding ? '#about' : 'about.html'}>About us</a></li>
      <li class="hover:text-yellow transition-all duration-200"><a href={isLanding ? '#contact' : 'contact.html'}>Contact</a></li>
      <li class="hover:text-yellow transition-all duration-200"><a href={isLanding ? '#subscription' : 'subscription.html'}>Subscription</a></li>
      <li class="hover:text-yellow transition-all duration-200"><a href={isLanding ? '#hotels' : 'hotels.html'}>Hotels</a></li>
    </ul>

    <div class="flex gap-4 grow basis-0 justify-end"></div>
  </nav>
</header>
