---

---

<!-- ! Footer -->
<footer class="flex bg-black justify-center py-10 md:py-4 lg:py-6 xl:py-12 gradient-blue text-white">
  <div class="flex flex-col px-3 sm:px-6 md:px-8 gap-8 md:gap-5 lg:gap-10 sm:w-[640px] md:w-[768px] lg:w-[1024px] xl:w-[1280px] 2xl:w-[1400px]">
    <div class="flex flex-col justify-center gap-6 items-center lg:hidden w-full">
      <article class="flex items-center gap-4">
        <img class="w-8 h-8 object-contain sm:w-12 sm:h-12" src="/public/assets/footer/logo.png" alt="Prestige Slot Arena logo" title="Prestige Slot Arena" />
        <h3 class="font-bold text-[20px]/[23px] sm:text-[36px]/[39px] lg:text-[48px]/[52px]">Prestige Slot Arena</h3>
      </article>

      <article class="flex flex-col items-center gap-4 w-full sm:hidden">
        <h4 class="font-semibold text-[18px]/[18px]">Subscribe to our Newsletter</h4>
        <form id="subscription-form-mob" class="flex flex-col gap-2 w-full">
          <input type="email" placeholder="anthony.shelby@example.com" class="bg-transparent py-4 pl-6 border-[1px] border-red rounded-full px-1 flex justify-between w-full" />
          <button onclick="sendForm('subscription-form-mob', 'Successfully subscribed')" class="bg-red rounded-full py-4 px-3">Subscribe</button>
        </form>
      </article>

      <article class="hidden flex-col items-center gap-3 w-max sm:flex sm:w-full">
        <h4 class="font-semibold text-[24px]/[22px]">Subscribe to our Newsletter</h4>
        <div class="border-[1px] border-red rounded-full py-1 px-1 flex justify-between w-full">
          <input type="email" name="email" placeholder="anthony.shelby@example.com" class="bg-transparent py-4 pl-6 w-[70%]" />
          <button class="bg-red rounded-full py-4 px-3 w-[30%] font-semibold text-[16px]/[16px] sm:text-[18px]/[22px]">Subscribe</button>
        </div>
      </article>

      <article class="flex flex-col gap-2 items-center w-full">
        <h4 class="text-[18px]/[22px] sm:text-[22px]/[22px] font-bold self-start">Company Details</h4>
        <ul class="text-[14px]/[14px] sm:text-[16px]/[22px] flex flex-col gap-3 w-full">
          <li><span class="font-semibold">Name:</span> Prestige Slot Arena</li>
          <li><span class="font-semibold">Address</span> Parkside Business Centre, Holyhead Rd, Wolverhampton WV7 3DA, United Kingdom</li>
          <li><span class="font-semibold">Phone number:</span> +44 780 962 5288</li>
          <li><span class="font-semibold">CIF:</span> B86613452</li>
          <li><span class="font-semibold">Legal form:</span>  LIMITED SOCIETY</li>
          <li><span class="font-semibold">Social object</span>  ADVERTISING AND MARKETING</li>
        </ul>
      </article>

      <ul class="text-[14px]/[14px] sm:text-[16px]/[22px] flex flex-col gap-4 w-full text-center [&>li>a]:underline [&>li>a]:underline-offset-4 [&>li>a]:hover:cursor-pointer">
        <li>
          <a href="./privacy-policy.html" target="_blank">Privacy Policy</a>
        </li>
        <li>
          <a href="./terms-and-conditions.html" target="_blank">Terms and Conditions</a>
        </li>
        <li>
          <a href="./cookie-policy.html" target="_blank">Cookie Policy</a>
        </li>
        <li>
          <a href="./responsible-gambling-statement.html" target="_blank">Responsible Gambling Statement</a>
        </li>
        <li>
          <a href="./cancellation-policy.html" target="_blank">Cancellation Policy</a>
        </li>
        <li>
          <a href="payment-policy" target="_blank">Payment Policy</a>
        </li>
      </ul>

      <!-- ! Logos -->
      <div class="flex flex-col border-[2px] border-red p-3 rounded-[20px] md:self-center xl:w-[20%] items-center justify-center gap-4 h-max sm:flex-row sm:w-[80%]">
        <div class="w-4/12 flex justify-center">
          <img src="./assets/footer/100.png" class="w-[80px] md:w-[120px] lg:w-[115px] 2xl:w-[250px] object-contain" alt="Security" title="Security" />
        </div>
        <div class="flex flex-wrap h-max justify-center w-full gap-5 [&>img]:w-[55px] [&>img]:h-auto sm:w-6/12">
          <img src="./assets/footer/MasterCard_Logo.svg 1.png" alt="master-card-logo" title="MasterCard" />
          <img src="./assets/footer/MasterCard_Logo.svg 2.png" alt="maestro-logo" title="Maestro" />
          <img src="./assets/footer/MasterCard_Logo.svg 3.png" alt="visa-logo" title="VISA" />
          <img src="./assets/footer/MasterCard_Logo.svg 4.png" alt="american-express-logo" title="American Express" />
          <img src="./assets/footer/MasterCard_Logo.svg 5.png" alt="google-pay-logo" title="Google Pay" />
          <img src="./assets/footer/MasterCard_Logo.svg 6.png" alt="apple-pay-logo" title="Apple Pay" />
        </div>
      </div>

      <p class="text-[12px]/[14px] sm:text-[14px]/[18px] text-justify">
        Content and information displayed on this site are only for informational purposes, and do not constitute legal, financial or professional advice at all. Although our aim is to provide the
        most up to date and accurate information, we do not guarantee its completeness, accuracy or timeliness. Participation in poker events is subject to the specific terms and conditions of each
        tournament. Before registering, it is your responsibility to read and comply with all the requirements and rules of each event. We reserve the right to change or cancel events without notice.
        To the fullest extent permitted by the law we will not be liable for any consequential, incidental, indirect, or punitive damages arising from the use of this website, or participation in the
        events promoted here. We do not guarantee that the website will be free of mistakes, viruses, or other harmful components. We promote responsible gambling. If you ever feel overwhelmed, we
        encourage you to seek professional help right away. We provide contacts and resources for organizations that offer assistance and support. 2024/ all rights reserved.
      </p>
    </div>

    <div class="hidden lg:flex justify-between gap-10">
      <article class="w-7/12 flex flex-col gap-8">
        <article class="flex items-center gap-4">
          <img class="w-8 h-8 object-contain sm:w-12 sm:h-12" src="/public/assets/footer/logo.png" alt="Prestige Slot Arena logo" title="Prestige Slot Arena" />
          <h3 class="font-bold text-[20px]/[23px] sm:text-[36px]/[39px] lg:text-[48px]/[52px]">Prestige Slot Arena</h3>
        </article>

        <article class="flex flex-col gap-2 items-center w-full">
          <h4 class="text-[18px]/[22px] sm:text-[22px]/[22px] font-bold self-start">Company Details</h4>
          <ul class="text-[18px]/[22px] flex flex-col gap-3 w-full">
            <li><span class="font-semibold">Name:</span> Prestige Slot Arena</li>
            <li><span class="font-semibold">Address</span> Parkside Business Centre, Holyhead Rd, Wolverhampton WV7 3DA, United Kingdom</li>
            <li><span class="font-semibold">Phone number:</span> +44 780 962 5288</li>
            <li><span class="font-semibold">CIF:</span> B86613452</li>
            <li><span class="font-semibold">Legal form:</span>  LIMITED SOCIETY</li>
            <li><span class="font-semibold">Social object</span>  ADVERTISING AND MARKETING</li>
          </ul>
        </article>

        <p class="text-[12px]/[14px] sm:text-[14px]/[18px] text-justify">
          Content and information displayed on this site are only for informational purposes, and do not constitute legal, financial or professional advice at all. Although our aim is to provide the
          most up to date and accurate information, we do not guarantee its completeness, accuracy or timeliness. Participation in poker events is subject to the specific terms and conditions of each
          tournament. Before registering, it is your responsibility to read and comply with all the requirements and rules of each event. We reserve the right to change or cancel events without
          notice. To the fullest extent permitted by the law we will not be liable for any consequential, incidental, indirect, or punitive damages arising from the use of this website, or
          participation in the events promoted here. We do not guarantee that the website will be free of mistakes, viruses, or other harmful components. We promote responsible gambling. If you ever
          feel overwhelmed, we encourage you to seek professional help right away. We provide contacts and resources for organizations that offer assistance and support. 2024/ all rights reserved.
        </p>
      </article>

      <article class="flex flex-col gap-8 w-5/12">
        <article class="hidden flex-col items-center gap-3 w-max sm:flex sm:w-full">
          <h4 class="font-semibold text-[24px]/[22px]">Subscribe to our Newsletter</h4>
          <form id="subscription-form" class="border-[1px] border-red rounded-full py-1 px-1 flex justify-between w-full">
            <input type="email" name="email" placeholder="anthony.shelby@example.com" class="bg-transparent py-4 pl-6 w-[70%]" />
            <button onclick="sendForm('subscription-form', 'Successfully subscribed')" class="bg-red rounded-full py-4 px-3 w-[30%] font-semibold text-[16px]/[16px] sm:text-[18px]/[22px]">
              Subscribe
            </button>
          </form>
        </article>

        <ul class="text-[14px]/[14px] sm:text-[16px]/[22px] flex flex-col gap-4 w-full text-end [&>li>a]:underline [&>li>a]:underline-offset-4 [&>li>a]:hover:cursor-pointer">
          <li>
            <a href="./privacy-policy.html" target="_blank">Privacy Policy</a>
          </li>
          <li>
            <a href="./terms-and-conditions.html" target="_blank">Terms and Conditions</a>
          </li>
          <li>
            <a href="./cookie-policy.html" target="_blank">Cookie Policy</a>
          </li>
          <li>
            <a href="./responsible-gambling-statement.html" target="_blank">Responsible Gambling Statement</a>
          </li>
          <li>
            <a href="./cancellation-policy.html" target="_blank">Cancellation Policy</a>
          </li>
          <li>
            <a href="payment-policy" target="_blank">Payment Policy</a>
          </li>
        </ul>

        <!-- ! Logos -->
        <div class="flex flex-col border-[2px] border-red p-3 rounded-[20px] md:self-center items-center justify-center gap-4 h-max sm:flex-row">
          <div class="w-4/12 flex justify-center">
            <img src="./assets/footer/100.png" class="w-[80px] md:w-[120px] lg:w-[115px] 2xl:w-[250px] object-contain" alt="Security" title="Security" />
          </div>
          <div class="flex flex-wrap h-max justify-center w-full gap-5 [&>img]:w-[55px] [&>img]:h-auto sm:w-6/12">
            <img src="./assets/footer/MasterCard_Logo.svg 1.png" alt="master-card-logo" title="MasterCard" />
            <img src="./assets/footer/MasterCard_Logo.svg 2.png" alt="maestro-logo" title="Maestro" />
            <img src="./assets/footer/MasterCard_Logo.svg 3.png" alt="visa-logo" title="VISA" />
            <img src="./assets/footer/MasterCard_Logo.svg 4.png" alt="american-express-logo" title="American Express" />
            <img src="./assets/footer/MasterCard_Logo.svg 5.png" alt="google-pay-logo" title="Google Pay" />
            <img src="./assets/footer/MasterCard_Logo.svg 6.png" alt="apple-pay-logo" title="Apple Pay" />
          </div>
        </div>
      </article>
    </div>
  </div>
</footer>
